.datahubC{
  background-image: url(../../images/datahub-img.png);
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.datahubC .inner{
  width: 90%;
  margin: auto;
}

.datahubC .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.datahubC .top div{
  width: 100%;
}

/* .datahubC .text-area p{
  font-size: 30px;
  line-height: 37.14px;
} */




.datahubC .bottom{
  text-align: right;
  margin-top: 54px
}
/* .datahubC .bottom p{
  font-size: 24px;
  line-height: 35px;
} */


@media only screen and (max-width: 991px){
  .datahubC .top{
    display: block;
  }
  .datahubC .top p{
    text-align: center;
  }
  .datahubC h1{
    text-align: center;
  }
  .datahubC b{
    font-size: 18px
  }
  .datahubC .bottom {
    text-align: center;
  }
  
}

@media only screen and (min-width: 991px) and (max-width:1400px){

}