.techC .setbg-1{
  background-image: url(../../images/technologies-img.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right
}
.techC .setbg-2{
  background-image: url(../../images/technologies2-img.png);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: left
}

.techC .inner1{
  width: 90%;
  margin: auto;
  padding-top: 150px;
}
.techC h1{
  margin-bottom: 38px;
}
.techC .inner2{
  width: 90%;
  margin: auto;
}

.techC .inner2 h2{
  background: linear-gradient(180deg, #FA00FF 0%, #00D1FF 55.73%, #FFFFFF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.techC .top{
  display: flex;
  justify-content: space-between;
}
.techC .top div{
  width: 100%;
}



.techBox{
  width: 100%;
  background: rgba(87, 206, 251, 0.22);
  backdrop-filter: blur(200px);
  border-radius: 25px;
  padding: 20px;
  min-height: 220px;
  max-height: 250px;
  box-sizing: border-box;
  overflow: hidden;
}

.techC .inner2{
  text-align: center;
}
.techC .inner2 h3{
  font-style: italic;
  margin-top: 30px;
}

.techC .mycol{
  max-width: 400px;
}


@media only screen and (max-width: 991px){
  .techC .inner1 {
    text-align: center;
    padding-top: 80px;
  }
  .techC .top{
    display: block;
    margin-bottom: 50px;
  }
  .techC .left{
    width: 100%;
    margin-top: 30px
  }
  .techC .left .techBox{
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
  }
  .techC .right div {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
  }
  .techBox{
    border-radius: 10px;
  }
  .techBox p{
    font-size: 15px;
  }
  .techBox h4{
    font-size: 17px;
    line-height: 20px;
  }
  .techBox.one{
    position: static;
    margin-top: 30px
  }
  .techC .setbg-2{
    background-image: 100%;
  }
}

@media only screen and (min-width: 992px){
  .techC .setbg-1{
    padding: 100px 0;
  }
  .techBox{
    margin-bottom: 25px;
  }
  .techC .inner2 {
    padding-top: 270px;
    padding-bottom: 270px;
  }
  .techC .setbg-2{
    background-size: 70%;
  }
  .techC .setbg-1{
    background-size: 46%;
  }
  .foundationC{
    margin-top: 0
  }
}

@media only screen and (min-width: 991px) and (max-width:1400px){
 .techC .inner2 h3{
   font-size: 40px
 }
}