.TokenomicsRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.08);
  padding: .5em .5em;
  border-radius: .5em;
  font-weight: 600;
  margin: 0 0 1em 0;
}
.tokenomics_title{
  font-size: 17px;
  line-height: 25px;
  text-align: left;
}
.tokenomics_right{
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.tokenomics_right p{
  font-size: 15px;
  line-height: 21px;
}

@media only screen and (max-width: 1400px){
  .tokenomics_title{
    font-size: 12px;
    line-height: 20px;
  }
  .tokenomics_right{
    width: 25%;
  }
  .tokenomics_right p{
    font-size: 13px;
  }
  
}

  @media only screen and (min-width: 992px){
    .TokenomicsRow {
      padding: 5px;
      margin-bottom: 5px;
  }
  }